/amx-items
backup/
/elpa
/projectile-bookmarks.eld
/recentf
/settings.el
/transient
/autosave
.lsp-session*
tags
eclipse.jdt.ls/
eshell/
workspace/
projectile.cache
request
network-security.data
url
bookmarks
.org-id-locations
